.to-do {
    border: 1px solid #000;

}
.icon-image {
    height: 32px;
    width: 32px;
}

.custom-margin-left {
    margin-left: 10px; 
}
.vertical-center {
    display: flex;
    align-items: center;
}
.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 100px; */
    padding: 0 100px;
}

.header-text {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.contents-wrapper {
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.feed-container {
    width: 700px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
}

.feed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.profile-image {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.feed-image{
    height: 500px;
}

.feed-img{
    height: 100%;
    width: 100%;
}

.feed-menu {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.padding-10 {
    padding: 10px;
}

.feed-comment {

}

.feed-comment-like {

}

.feed-comment-list {

}

.feed-comment-write {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ddd;
}

.comment-write-input {
    flex: 1; /* 꽉참 */
}

.comment-name {
    font-weight: bold;
    margin-right: 10px;
}