@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(242, 242, 242);
}
.to-do {
  border: 1px solid black;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 120px;
  border-bottom: 1px solid gray;
  background-color: white;
}
.feed-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: 1px solid gray;
  background-color: white;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.icon-img {
  width: 24px;
  height: 24px;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.feed-img-wrapper {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 0;
}

.feed-img {
  width: 398px;
  height: 398px;
  object-fit: cover;
}

.transparent-btn {
  background-color: transparent;
  border: 0;
}

.comment-like-btn {
  width: 16px;
  height: 16px;
}

.add-comment-wrapper {
  border-top: 1px solid gray;
  height: 40px;
}

.add-comment-input {
  border: 0;
  flex: 1;
}

.custom-padding-0-10 {
  padding: 0 10px;
}

.bold {
  font-weight: bold;
}
